<section class= "section-sm" >
  <div class="container-md">
    <h1 class="regular heading photo semibold titleColor">New Photo</h1>
    <%= render "form", photo: @photo, category: @category%>
  </div>


</section>