<section class="section-sm">
    <div class="container-sm">
        <h1 class="head-md category--form__header">New Photo</h1>
        <%= render "form", photo: @photo, category: @category%>
    </div>
</section>