<h1>Categories</h1>

<% @categories.each do |categories| %>
  <div>
    <h2><%= categories.name %></h2>
    <p><%= "#{categories.photos_count} photos" %></p>
    <p><%= categories.description %></p>
  </div>
<% end %>