<section class="section-sm">
    <div class="container-sm">
        <h1 class="head-md category--form__header">New category</h1>
        <%= render "form", category: @category  %>
    </div>
</section>